
* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    /* height: 20000px; */
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #757575;
}
img {
    display: block;
}
.container {
    width: 1226px;
    margin: auto;
}
.preload {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.clearfix::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}




.side-foot .service-list li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    text-align: center;
 }
 .side-foot .service-list li:first-child {
     border: 0;
 }
 .side-foot .service-list a {
     color: #616161;
     transition: color .2s;
 }
 .foot-service {
     padding: 27px 0;
     border-bottom: 1px solid #e0e0e0;
 }
 .foot-icon {
     font-size: 22px!important;
     position: relative;
     top: 3px;
     transition: color .2s;
 }
 .side-foot .service-list li:hover {
     color: #ff6700;
 }
 .side-foot .service-list li:hover>a {
    color: #ff6700;
 }
 .foot-link {
     padding: 40px 0;
     margin-bottom: 100px;
 }
 .foot-link .col-link {
     float: left;
     width: 160px;
     height: 112px;
 }
 .foot-link .col-link dt {
     color: #424242;
     font-size: 14px;
     line-height: 1.25;
     margin-bottom: 26px;
 }
 .foot-link .col-link dd {
     margin-top: 10px;
     font-size: 12px;
 }
 .foot-link .col-link a:hover {
     color: #ff6700;
 }
 .foot-link .col-link dd a {
     color: #333;
 }
 .foot-link .col-contact {
     float: right;
     width: 251px;
     border-left: 1px solid #e0e0e0;
     text-align: center;
     color: #616161;
 }
 .foot-link .col-contact .phone {
     font-size: 22px;
     line-height: 1;
     color: #ff6700;
     margin-bottom: 5px;
 }
 .foot-link .col-contact .time {
    font-size: 12px;
    margin-bottom: 5px;
 }
 .foot-link .col-contact .btn-line {
     display: block;
     width: 118px;
     height: 28px;
     font-size: 12px;
     line-height: 28px;
     margin: auto;
     border: 1px solid #ff6700;
     color: #ff6700;
     background: #fff;
     transition: all .4s;
 }
 .icon-message {
     position: relative;
     top: 2px;
 }
 .foot-link .col-contact .btn-line:hover {
     background: #ff6700;
     color: #fff;
 }
 .foot-link .col-contact .follow {
     position: relative;
     font-size: 12px;
     /* margin-top: 5px; */
 }
 .foot-link .col-contact .follow a {
     color: #616161;
 }
 .foot-link .col-contact .follow .iconfont {
     position: relative;
     top: 0px;
     font-size: 22px;
 }
 .foot-link .col-contact .follow .iconfont:hover {
     color: #ff6700;
 }
 .foot-link .col-contact .follow img {
     display: none;
     position: absolute;
     top: 30PX;
     left: 100px;
     width: 126px;
     height: 126px;
 }
 .foot-link .col-contact .follow .weixin:hover + img {
     display: block;
 }






 .home-bar {
    position: fixed;
    bottom: 5%;
    right: 0;
    z-index: 999;
}
.home-bar a {
    display: block;
    width: 82px;
    height: 90px;
    background: #fff;
    border: 1px solid #f5f5f5;
    text-align: center;
}
.home-bar a .hover {
    opacity: 0;
}
.home-bar .icon {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 0 auto 8px;
    padding-top: 18px;
}
.home-bar a .icon>img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    /* transition: all .3s; */
}
.home-bar .text {
    color: #757575;
    transition: color .3s;
}
.home-bar a:hover>.text {
    color: #ff6700;
}
.home-bar a:hover>.icon>.staic {
    opacity: 0;
}
.home-bar a:hover>.icon>.hover {
    opacity: 1;
}
.home-bar-last {
    visibility: hidden;
    /* display: none; */
    margin-top: 20px;
}
.home-bar-first {
    position: relative;
}
.home-bar .pop-content {
    display: none;
    /* opacity: 0; */
    /* transition: opacity .3s; */
    position: absolute;
    top: 0;
    left: -140px;
    background: #fff;
    padding: 14px;
    border: 1px solid #f5f5f5;
}
.home-bar .pop-content::after {
   content: '';
   position: absolute;
   width: 0;
   height: 0;
   top: 21%;
   right: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #fff;
   overflow: hidden;
   z-index: 999;
   box-shadow: 1px -1px 1px  rgba(150, 148, 148, 0.1);
   transform: rotate(45deg);
   background: #fff;
}
.home-bar .pop-content img {
    display: block;
    width: 100px;
    height: 100px;
}
.home-bar .pop-content .desc {
    display: block;
    width: 84px;
    text-align: center;
    color: #757575;
    margin: 14px auto 0;
}
.home-bar a:nth-child(1):hover>.pop-content {
   display: block;
   /* opacity: 1; */
}
.header-menu {
    display: none;
    width: 100%;
    /* height: 230px; */
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 24;
    border-top: 1px solid #e0e0ee;
    background: #fff;
    overflow: hidden;
    font-size: 12px;
    box-shadow: 0px 5px 5px 0px rgba(36, 36, 36, 0.1);
    padding-bottom: 28px;
}

.header-menu .children-list li {
   position: relative;
   width: 180px;
   float: left;
   padding: 35px 12px 0;
   text-align: center;
}
.header-menu .children-list li::before {
   content: '';
   position: absolute;
   top: 35px;
   right: 0;
   width: 1px;
   height: 100px;
   background: #e0e0e0;
}
.header-menu .children-list .last::before {
   content: none;
}
.children-list .thumb {
   width: 160px;
   height: 110px;
   margin: 0 auto 16px;
}
.children-list .thumb img {
   width: 160px;
   height: 110px;
}
.children-list .title {
   color: #333;
   line-height: 20px;
}
.children-list .price {
   color: #ff6700;
   line-height: 20px;
}


.home-bar-xm {
    left: 50%;
    right: auto;
    transform: translateX(613px);
    bottom: 15%;
}
.home-bar-xm a {
    position: relative;
    width: 25px;
    height: 40px;
}
.home-bar-xm a .icon {
    width: 20px;
    height: 20px;
    padding-top: 10px;
}
.home-bar-xm a .icon img {
    width: 20px;
    height: 20px;
}
.home-bar-xm a .text {
    display: none;
    position: absolute;
    left: -85px;
    top: 20%;
    width: 59px;
    height: 28px;
    line-height: 28px;
    padding:0 8px ;
    background: #fff;
    border: 1px solid #f5f5f5;
    text-align: center;
}
.home-bar-xm a:hover>.text {
    display: block;
}
.home-bar-xm a .text::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 35%;
    right: -3px;
    border-width: 4px;
    border-style: solid;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #fff;
    overflow: hidden;
    z-index: 999;
    box-shadow: 1px -1px 1px  rgba(150, 148, 148, 0.1);
    transform: rotate(45deg);
    background: #fff;
}
.home-bar-xm .home-bar-first .text {
    display: none;
}
.home-bar-xm .home-bar-last {
    margin-top: 10px;
}
.home-bar-xm .pop-content {
    top: -22px;
}