* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    font-size: 14px;
    line-height: 1.5;
}
a {
    text-decoration: none;
}
.t-c {
    text-align: center;
}
.clearfix::after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}
.container {
    width: 1130px;
    margin: auto;
}
.header .h-logo {
    width: 200px;
    height: 98px;
    background: url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png) no-repeat;
}
.header .h-logo a {
    display: block;
    height: 98px;
    text-indent: -999px;
}
.login-banner {
    width: 100%;
    height: 588px;
    background: url(../images/login-bg.jpg) no-repeat top center;
}
.login-mainbox {
    margin-top: 20px;
    float: right;
    background: #fff;
}
.nav-tabs {
    width: 410px;
    font-size: 24px;
    text-align: center;
    padding: 27px 0px 24px;
}
.nav-tabs a {
    color: #666;
}
.nav-tabs .line {
    display: inline-block;
    margin: 0 35px 0 42px;
    color: #e0e0e0;
}
.nav-tabs .current {
    color: #f56600;
}
.nav-tabs a:hover,
.forget a:hover {
    color: #f56600;
}
.login-area {
    width: 384px;
    margin: auto;
    text-align: center;
}
.login-area .hint {
    display: none;
    font-size: 14px;
    color: #ff6700;
    text-align: left;
    text-indent: 25px;
}
.login-area .hint em {
    width: 17px;
    height: 21px;
    margin: -1px 5px 0 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    background: url(https://account.xiaomi.com/static/res/f234829/account-static/respassport/acc-2014/img/sprite_login.gif) no-repeat 2px -66px;
}
.input-box .ipt-list {
    width: 306px;
    height: 22px;
    padding: 13px 16px 13px 14px;
    border: 0;
    outline: none;
    border: 1px solid #eee;
    margin-bottom: 20px;
}
.btn-bg {
    padding-top: 10px;
}
.btn-bg .login-btn {
    width: 336px;
    height: 50px;
    line-height: 50px;
    outline: none;
    border: 0;
    background: #ff6700;
    color: #fff;
    cursor: pointer;
    margin-bottom: 14px;
}
.tel-login {
    margin-bottom: 30px;
}
.tel-login a {
    color: #f56600;
}
.forget span {
    color: #999;
}
.forget a {
    color: #999;
}
.other-login-type {
    padding-top: 123px;
}
.other-type-tit {
    border: 0;
    border-top: 1px solid #e0e0e0;
}
.other-type-tit legend {
    color: #bbb;
}
.other-login-links {
    margin-top: 17px;
}
.other-login-links a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 17px;
}
.other-login-links a i {
    display: block;
    width: 18px;
    height: 18px;
    margin: 4px auto 0;
}
.other-login-links .type-qq {
    background: #0288d1;
}
.other-login-links .type-weibo {
    background: #d32f2f;
}
.other-login-links .type-alipay {
    background: #0ae;
}
.other-login-links .type-weixin {
    background: #00d20d;
}

.other-login-links .type-qq i {
    background: url(../images/icons_type.png) no-repeat -19px 1px;
}
.other-login-links .type-weibo i {
    background: url(../images/icons_type.png) no-repeat -38px 1px;
}
.other-login-links .type-alipay i {
    width: 25px;
    height: 25px;
    background: url(../images/icons_type.png) no-repeat -57px 1px;
}
.other-login-links .type-weixin i {
    width: 25px;
    height: 25px;
    background: url(../images/icons_type.png) no-repeat -82px 1px;
}
.lang-select {
    display: inline-block;
}
.lang-select li {
    float: left;
}
.lang-select li a {
    display: inline-block;
    padding: 0 10px;
    color: #757575;
}
.lang-select .current {
    color: #333;
}
.footer {
    margin-top: 200px;
}
.footer-info {
    margin-top: 10px;
}
.footer-info a {
    color: #666;
}