@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1596094305315'); /* IE9 */
  src: url('iconfont.eot?t=1596094305315#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALcAAsAAAAABsQAAAKNAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBIIEpATYCJAMMCwgABCAFhG0HQhv7BcgOJS3BwIDhAUNkCNGyZXb37lsDXG0STVcoVKkShfBoFDiBRwl8N4LBOc2ZbQ4SENVQFpO2o6x0cABsrwj0hdwdAMvP3ifunf4JUiDzWZbTmjT2Oh8TMMFA98A2WQEFGAA3jF3wAk8TaJuTzueksd0EghX2pEA8SgIDggshRWHZplA3rCziVaWZnpMH8BJ9Pv7kRjBJldkzzx4aeFD9mfE+6Nfz3+M2IIQJcH2FjB1AIe4bU5f8BOP6aev9u4trRUhLRf//ieSGsT7oHy8RNbuyCzagLj2UwhMTfA2ukUAGdZLZAuwhdupOSbRjnmCr+fzcmnFyYVKty72bY/Emy9LYek+C2bTQszGe1BFfXBxfTmr8wcTIgY2M9oqdgcLq57M1oXh55q4hHYOyp8dHT8pqiufxMeaMph3FkTfSiwphD6DZY/Nb+gHI275bf/M7Tk+5Qyqq/K8ZVsBH8woTmYrhxua53MG/UwzsKIbKNueiyT255cnmJzoSUMq9/tm+sbvpxunBlYSm6QxJwyyyphWysDuodOyi1rSPtm1N6zsmFH6itLBlECAM7SHpe0c2dEwW9haVGb+oDcMPbecRt2PHWkihdQpiNMRDthtKHHFh16qFxtUGJOgORsmrIp4FKaoUhTmZ2eVsE3IhZYk5aoeQq2kYYoU4YSM4DzkcBLoVYkOclilqmrs0Kws3vSiTI04Q6pgCYWgQHsTqBkk4hAsO+mtCK+83QAQ6B4bSUVOXtEAUKmlwKEem7AFkk941qOZRLlF1EOTSaDAIUxBOUCNwIA4nRUDu5mE2CEeTSZyQcCuVhXrhofrM7Y3OHyhjDdhzc6TIUfQf9C6dcdm9BYJA9CBVZFycqAMAAAAA') format('woff2'),
  url('iconfont.woff?t=1596094305315') format('woff'),
  url('iconfont.ttf?t=1596094305315') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1596094305315#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuxuankuanggou:before {
  content: "\e62d";
}

.icon-shanchu:before {
  content: "\e785";
}

